<?xml version="1.0" encoding="utf-8" ?>
<go-plugin id="script-executor" version="1">
    <about>
        <name>Script Executor</name>
        <version>0.3.0</version>
        <target-go-version>16.1.0</target-go-version>
        <description>
            Thoughtworks Go plugin to run scripts
        </description>
        <vendor>
            <name>TW Leansw</name>
            <url>https://github.com/tw-leansw</url>
        </vendor>
    </about>
</go-plugin>